#logo {
    height: 70px;
    max-width: 100%;
}

.card {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.prin {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.character {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    text-align: center;
}

.character h1, .character h4 {
    margin: 10px;
}

#char_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.container-ch {
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    text-align: left;
    gap: 20px;
}

.logo img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 0;
}

.txtlogo {
    max-width: 600px;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .character h1, .character h4 {
        margin-left: 0;
        padding-top: 10px;
    }

    .logo img {
        width: 70%;
    }

    .txtlogo {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .prin {
        font-size: 1.5rem;
    }

    .txtlogo {
        width: 100%;
    }

    .carousel-item .col-4 {
        width: 100%;
    }

    .logo {
        flex-direction: column;
        align-items: center;
    }
}
